<!-- Include Radiant Media Player JavaScript file in your <body> or <head> -->
<script type="text/javascript" src="//cdn.radiantmediatechs.com/rmp/2.7.6/js/rmp.min.js"></script>
<!-- Set up your wrapper div with its unique id -->
<div id="rmpPlayer"></div>
<!-- Set up player configuration options -->
<script type="text/javascript">
// First we specify bitrates to feed to the player
var bitrates = {
  hls: [
    ['Auto', 'http://52.9.146.23:1935/liveedge/smil:stream/manifest.m3u8'],
  ]
};
var settings = {
  licenseKey: 'Y2lrYWFvcW1tbyEqXyUyMjI/cm9tNWRhc2lzMzBkYjBBJV8q', // Add your license key
  bitrates: bitrates,
  delayToFade: 3000,
  width: 640,
  height: 360,
  poster: 'https://www.radiantmediaplayer.com/images/poster-rmp-showcase.jpg',
  isLive: true // Here we tell the player we are streaming live video content
};
var element = 'rmpPlayer';
var rmp = new RadiantMP(element);
rmp.init(settings);
</script>
